<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle cx='50' cy='50' r='50' fill='%239b59b6'/><text x='50' y='75' font-size='80' font-family='sans-serif' text-anchor='middle' fill='white'>C</text></svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body class="bg-gray-200 flex flex-col min-h-screen">

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

<main class="flex-grow">

    {% block body %}

    {% endblock %}

</main>

</body>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

</html>
